################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NonGenericToGenericCSharpExample/.vs
/NonGenericToGenericCSharpExample/NonGenericToGenericCSharpExample/bin/Debug/net7.0
/NonGenericToGenericCSharpExample/NonGenericToGenericCSharpExample/obj
